*{
  font-family: Arial, Helvetica, sans-serif; width: 100%;
}

h1{
  background-color: #cc9e83;
}
header{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.primeira{
  display: flex;
  text-align: center;
}
.image1{  
  width: 300px;
  flex: 1;
  border-radius: 15px;
}
.biografia{
  background-color: #cc9e83;
  flex: 1;
  font-size: 22px;
  border-radius: 15px;
}
.segunda{
  padding: 10px;
}
.ano{
  flex: 1;
  background-color: black;
  color: white;
  font-size: 17px;
  padding: 5px;
  height: 20px;
  width: 40px;
  margin: 70px;
}
.sobreano{
  background-image: url('../Image/mrbean3.jpg');
  background-size: cover;
  height: 785px;
  width: 100%;
  display: flex;

}